
body{
	max-width: 900px
	max-height: 800px;
	background-image: url('../images/game-show-background.jpeg');
	background-repeat: round round;
	font-family: 'Cabin Condensed', 'Cantarell', 'Karla', sans-serif;
}

h1{
	font-family: 'Cabin Condensed', 'Cantarell', 'Karla', sans-serif;
}

p{
	font-family: 'Cabin Condensed', 'Cantarell', 'Karla', sans-serif;
}
footer{
	font-family: 'Cabin Condensed', 'Cantarell', 'Karla', sans-serif;
	text-align: center;
  padding: 15px;
}

.main{
	display: grid;
  width: 100%;
  max-height: 700px;
	grid-template-columns: 100%;
	grid-template-rows: 20% 20% 50% 10%
	border: 5px solid black;
}

.top{
  max-width: 900px;
  margin: 0 auto;
	font-family: 'Cabin Condensed', 'Cantarell', 'Karla', sans-serif;
	font-size: 50px;
	background-color: #373c98;
	border: 5px solid black;
	border-radius: 25px;
	text-align: center;
  color: hotpink;
  padding: 10px;
}

#host{
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border-color: yellow;
  text-align: center;
}

#hurry{
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border-color: yellow;
  justify-content: right;
  align-self: right;
}

.countdown{
  display: grid;
  height: 300px;
  grid-template-columns: 30% 30% 30%;
  font-family: 'Cabin Condensed', 'Cantarell', 'Karla', sans-serif;
  font-size: 30px;
  background-color: #373c98;
  border: 5px solid black;
  border-radius: 25px;
  text-align: center;
  color: yellow;
  padding: 10px;
}

#display{
  font-family: 'Cabin Condensed', 'Cantarell', 'Karla', sans-serif;
  font-size: 40px;
  padding: 10px;
}

#gifs{
  padding: 10px;
}

.bottom{
	font-family: 'Cabin Condensed', 'Cantarell', 'Karla', sans-serif;
	background-color: #373c98;
	border: 5px solid black;
	border-radius: 25px;
}
.game{
	font-family: 'Cabin Condensed', 'Cantarell', 'Karla', sans-serif;
	background-color: #ffffff;
	border: 5px solid black;
	border-radius: 25px;
	padding: 15px;
}

button{
  font-family: 'Cabin Condensed', 'Cantarell', 'Karla', sans-serif;
  font-size: 15px;
  border-radius: 25px;
  padding: 10px;
  background-color: limegreen;
  justify-content: right;
}
